//! **************************************************************************
// Written by: Map P.28xd on Tue Apr 09 21:58:59 2013
//! **************************************************************************

SCHEMATIC START;
COMP "led1" LOCATE = SITE "J14" LEVEL 1;
COMP "led2" LOCATE = SITE "J15" LEVEL 1;
COMP "led3" LOCATE = SITE "K15" LEVEL 1;
COMP "led4" LOCATE = SITE "K14" LEVEL 1;
COMP "sw1" LOCATE = SITE "R17" LEVEL 1;
COMP "sw2" LOCATE = SITE "N17" LEVEL 1;
COMP "sw3" LOCATE = SITE "L13" LEVEL 1;
COMP "sw4" LOCATE = SITE "L14" LEVEL 1;
SCHEMATIC END;

