//! **************************************************************************
// Written by: Map P.28xd on Tue Mar 26 20:52:21 2013
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

